body {
  background-image: url("C:\Users\saila\Downloads\WhatsApp Image 2023-06-17 at 10.31.43 AM.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;
}
.formContainer {
  height: 500px;
  width: 550px;
  overflow: hidden;
  align-items: center;
  margin-top: 10%;
  margin-bottom: 5%;
  margin-left: 35%;
  margin-right: 70%;
  border-radius: 30px;
  color: bisque;
}
